body {
  font-family: Arial, sans-serif;
  background-color: #e6ffe6;
  padding: 20px;
}

form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 10px;
}

button {
  margin-top: 15px;
  padding: 8px 12px;
  background-color: #2ecc71;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#results .card {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
}
.result-card {
  background-color: #e8f5e9;
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
  
}